﻿@charset "utf-8";

body {
	font-size: 18px;
	font-family: "Avenir", "Yu Gothic", "YuGothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", "Osaka", "MS P Gothic", "sans-serif";
    background: rgba(0, 0, 0, 0.8);
    color: white;
  	width: 100%;
}

h1{
	font-size: 130%;
}

.textbox {
    margin: 2px 2px 2px 2px;
    padding: 10px 15px 10px 15px;
    min-height: 200px;
    height: 100%;
    width: 80%;
    max-width: 640px;
    border-radius: 20px;
    direction: ltr;
    overflow-x: auto;
    overflow-y: auto;
    resize: both;
    background: rgba(30, 35, 48, 0.8);
    color: white;
    font-size: 18px;
}

.button {
	font-size: 18px;
	margin-left: 3em;
	width: 150px;
	height: 50px;
    border-radius: 15px;
    background: rgba(111, 131, 158, 0.6);
    color: white;
}
